<div class="container row show-page d-flex m-auto">
  <!-- IMAGE -->
  <div class="col-12 col-lg-6">
    <img src="<%= @monster.photo %>" class="w-100" alt="<%= @monster.name %>">
  </div>
  <!-- INFO AND BOOKING -->
  <div class="col-12 col-lg-6">
    <!-- INFO -->
    <div class="d-flex mb-3 justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <h2 class=" mr-3 mb-0"><%= @monster.name %></h2>
        <div class="rating-stars">
          <% @monster.avg_reviews.round.times do %>
            <i class="fas fa-star"></i>
          <% end %>
          <% (5-@monster.avg_reviews.round).times do %>
            <i class="far fa-star"></i>
          <% end %>
        </div>
      </div>
      <!-- CONTACT HOST -->
      <%= link_to 'Contact Host',
      new_message_path,
      class: "primaryButton py-2 px-4 align-middle" %>
    </div>
    <h5 id="item-price" class="d-inline"><%= @monster.price.round %></h5>
    <h5 class="d-inline">€</h5>
    <p class="d-inline">/ per night</p>
    <p class="mt-3"><strong>Description:</strong> <%= @monster.description %></p>
    <!-- BOOKING -->
    <%= render 'shared/booking_form' %>
  </div>

    <!-- REVIEWS -->
  <div class="col-12 mt-3">
    <h4 class="mb-4 mt-4"><%= @monster.name %>'s reviews</h4>
    <% if @monster.reviews.count > 0 %>
      <% @monster.reviews.each do |review|%>
      <div class="card col mb-3">
        <div class="card-body">
          <blockquote class="mb-0">
            <p><%= review.text %></p>
            <footer class="blockquote-footer">
              <%= review.user.name.capitalize %>'s review: <cite title="Source Title"><%= review.integer %> / 5</cite>
            </footer>
          </blockquote>
        </div>
      </div>
      <% end %>
    <% else %>
      <div class="card col">
        <div class="card-body">
          <p> Don't have any review yet!</p>
        </div>
      </div>
    <% end %>
  </div>
</div>
