<div class="container messages-container col-12 col-md-10 col-lg-8 overflow-auto">
<% @messages.each do |message| %>
  <% if message.user == current_user %>
    <%= render 'shared/user_message_partial', message: message %>
  <% else %>
    <%= render 'shared/seller_message_partial', message: message %>
  <% end %>
<% end %>
</div>
<div class="container review-form col-12 col-md-10 col-lg-8">
  <!-- TO DO: Refactor this into a shared form -->
  <%= simple_form_for [@monster, @message] do |f| %>
    <%= f.input :text,
    placeholder: "Send a message...",
    label: false,
    :input_html => { :rows => 2 , :style => 'width: 100%'}
     %>
    <%= hidden_field_tag(:conversation, @conversation.id) %>
    <%= f.submit class: "primaryButton btn-block" %>
  <% end %>
</div>
