<% monsters.each do |monster|  %>
  <div class="card col-12 col-lg-6 col-xl-4">
    <img src="<%= monster.photo %>" class="card-img-top" alt="<%= monster.name %>">
    <div class="card-body">
      <h5 class="card-title">
        <%= link_to monster.name, monster_path(monster), class: "stretched-link" %>
      </h5>
      <h6 class="card-text"><%= monster.description %></h6>
      <p class="card-text"><%= monster.price %>$ / per night</p>
      <div class="rating-stars">
        <% monster.avg_reviews.round.times do %>
          <i class="fas fa-star"></i>
        <% end %>
        <% (5-monster.avg_reviews.round).times do %>
          <i class="far fa-star"></i>
        <% end %>

      </div>
      <div class="rating-info d-flex justify-content-between">
        <p>Rating: <%= monster.avg_reviews %></p>
        <p><%= monster.reviews.count %> Reviews</p>

      </div>
    </div>
  </div>
<% end %>
